In [3]:
import pandas as pd

#Criando uma série indexada por valores inteiros, iniciando em 0
series = pd.Series([10, 20, 43, 87, 3])
print(series)

ModuleNotFoundError: No module named 'pandas'

In [ ]:
#Criando uma série indexada por letras
series = pd.Series([10, 20, 43, 87, 3], index = ['a', 'b', 'c', 'd', 'e'])
print(series)

In [ ]:
#Criando uma série indexada por nomes
series = pd.Series([10, 20, 43, 87, 3], index = ['João', 'Maria', 'Pedro', 'Sílvia', 'Alex'])
print(series)

In [ ]:
funcionario = {'João': 1500, 'Maria': 2500, 'André': 3000.50, 'Carla': 4000.00, 'Alex': 30000.00}
series = pd.Series(funcionario)

# Exibindo resumo estatístico da série
series.describe()

In [ ]:
#Ordenando a série pelo índice
series.sort_index(inplace = True)
print(series)

In [2]:
#Ordenando a série pelo valor
series.sort_values(inplace = True)
print(series)

NameError: name 'series' is not defined

In [1]:
import pandas as pd
alunos = {'nome' : ['João', 'Maria', 'Carlos', 'Silvia', 'André', 'Juliana'],
          'RA': [1000, 2000, 3000, 4000, 2700, 6000],
          'sexo': ['M', 'F', 'M', 'F', 'M', 'F'],
          'nota': [80.0, 90.0, 75.0, 100.0, 96.5, 98.5]
         }

df = pd.DataFrame(alunos)
df #exibe todo o dataframe

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df.head(3) #exibe os 5 primeiros registros

In [ ]:
df.sample(2) #exibe os 5 últimos registros

In [ ]:
df.describe() # resumo estatístico de todos os campos numéricos

In [ ]:
# Lendo dados de um arquivo CSV
notas = pd.read_csv('Notas.csv', sep = ';')
notas

In [ ]:
# Imprimindo a quantidade de linhas e colunas
notas.shape

In [ ]:
# Exibindo as colunas
notas.columns

In [ ]:
# Resumo estatístico de todos os campos numéricos
notas.describe()

In [ ]:
#Incluido novas colunas
import numpy as np

notas['Final'] = 0
notas['Media'] = round((notas['D1'] + notas['D2'] + notas['D3'])/3, 2)
notas

In [ ]:
#importando e colunas específicas e renomeando as mesmas
notas = pd.read_csv('Notas.csv', sep = ';',
                   usecols = [0, 1], names = ['NomeAluno', 'NotaD1'])
notas

In [ ]:
notas = pd.read_csv('Notas.csv', sep = ';', usecols = ['Aluno', 'D3'])
notas

In [ ]:
notas = pd.read_csv('Notas.csv', sep = ';')

# Verificando linhas duplicadas
notas.duplicated()

In [ ]:
# Removendo linhas duplicadas
notas.drop_duplicates(inplace = True)

notas

In [ ]:
alunos = {'nome' : ['João', 'Maria', 'Carlos', 'Silvia', 'André', 'Juliana', 'Alex'],
          'RA': [1000, 2000, 3000, 4000, 2700, 6000, 1000],
          'sexo': ['M', 'F', 'M', 'F', 'M', 'F', 'M'],
          'nota': [80.0, 90.0, 75.0, 100.0, 96.5, 98.5, 90]
         }
df = pd.DataFrame(alunos)
df

In [ ]:
# Verificando as linhas que possuem RA duplicado
df.duplicated(subset = ['RA'])

In [ ]:
# Exibindo uma cópia do DataFrame as linhas que possuem RA duplicado
df.drop_duplicates(subset = ['RA'])

In [ ]:
# Removendo as linhas que possuem RA duplicado
df.drop_duplicates(subset = ['RA'], inplace = True)